<app-tab-header title="Browse"></app-tab-header>

<ion-content>
	<ion-grid>
		<ion-row *ngFor="let category of categories">
			<ion-col (click)="presentModal(category[0].name)">
				<ion-img class="browse-item" [src]="category[0].imgUrl"></ion-img>
				<span>{{ category[0].name }}</span>
			</ion-col>
			<ion-col (click)="presentModal(category[1].name)">
				<ion-img class="browse-item" [src]="category[1].imgUrl"></ion-img>
				<span>{{ category[1].name }}</span>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
