<app-tab-header title="Preferences"></app-tab-header>

<ion-content fullscreen>
	<ion-list>
		<ion-list-header>
			These will help us suggest places that you are more likely to go to.
		</ion-list-header>

		<ion-item *ngFor="let preference of preferencesList; let i = index">
			<ion-avatar slot="start">
				<img src="{{ preference.imgUrl }}" />
			</ion-avatar>
			<ion-label>
				<h2>{{ preference.title }}</h2>
				<h3>{{ preference.subtitle }}</h3>
			</ion-label>
			<ion-checkbox (ionChange)="onCheckboxClick($event, i)" checked="{{ preference.checked }}" color="dark"> </ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>
